[2018-03-16 21:34] grabear opened #33 "Citations"

[2018-09-27 23:38] grabear opened #2 "Update the phyloseq_to_* functions."
The phyloseq_to_* functions need a few updates:

- They need to have Stress/Control  removed from syntax.  Make dynamic for other users.
- They need to consider rank for agglomerated phyloseq objects
- For correlation plots, 2 ranks need to be sorted by significance.
    - The legend order (super_rank) is currently based on p_values for the points (rank).
- Update the `phylsoeq_to_excel `function

[2018-09-27 23:44] sdhutchins opened #3 "Naming R files"
I'm not 100% sure on how to name some of the things I'm writing.

I could go with `alpha_diversity.R`. Maybe that's better than `stats.R`.

How modular do you want to get, @grabear? I've read some people suggest a function per R file. To me, that seems too much when we have a bunch of R files.

https://github.com/vallenderlab/MicrobiomeR/blob/sdh-patch/R/stats.R

[2018-09-28 00:12] grabear opened #4 "DESCRIPTION file Error for Phyloseq"
I will try to reproduce this later, but I was having trouble building the package on my laptop.  My laptop didn't have phyloseq installed at the time, and I was unable to build the package.  I tried so many things in order to get it to install as a dependency of our package, but in the end I had to manually install it.

### TODO:

- Reproduce this bug.
- Find a way to fix this bug
    - Installati

[2018-10-02 22:40] grabear opened #6 "Correlation Plots: Converting to Metacoder"
Currently, the correlation_plot() function takes a phyloseq object.  While it will slightly more difficult to implement the switch to metacoder from phyloseq, it will make more sense for potentially integrating this function into metacoder (https://github.com/grunwaldlab/metacoder/issues/234).  It will also reduce the amount of code we will have to use, because metacoder already has tons of utilit

[2018-10-02 23:49] sdhutchins opened #7 "Reduce build time of package"
The travis-ci build [job](https://travis-ci.com/vallenderlab/MicrobiomeR/jobs/149276748) failed.

Could be due to:
- Too many dependencies for the app.

[2018-10-06 23:29] sdhutchins opened #35 "Standardize colors across figures"
Use [paletter](https://github.com/AndreaCirilloAC/paletter) to generate palettes from a figure (particularly heat trees) to ensure that colors are similar across plots.

### Install paletter
[code]

The file should be in jpeg format :exclamation:

[code]

## :exclamation: Update
`paletter` wouldn't run the above code on my machine. Everything froze.

[2018-11-08 20:06] grabear opened #42 "Discuss standard workflow paradigm (phyloseq/metacoder/visualization/etc)."
# Intro

Currently, we have different ways of generating one plot or another.  If we can standardize how we generate our plots, it will make the data much more credible, and it should eliminate any variations that we see.

Additionally, there may be better or programmatically quicker ways of doing our analysis.  I don't think there have been any updates to [phylsoeq](http://joey711.github.io/phylo

[2018-11-19 19:10] grabear opened #38 "Discuss the custom metacoder format."
# Formatting Code
https://github.com/vallenderlab/MicrobiomeR/blob/fac9b427a6b461b57c4f6cfb23f4240774a0d59b/R/metacoder-formatting.R#L365-L401

# Format

[code]

# Validation Code

These functions will be used to validate the data before filter with the new functions.

https://github.com/vallenderlab/MicrobiomeR/blob/fac9b427a6b461b57c4f6cfb23f4240774a0d59b/R/metacoder-formatting.R#L520-L561

# Va

[2018-11-19 19:38] grabear opened #37 "Discuss the prevalence filters for metacoder."
# Taxonomic Prevalence Filter Code
https://github.com/vallenderlab/MicrobiomeR/blob/fac9b427a6b461b57c4f6cfb23f4240774a0d59b/R/metacoder.R#L415-L498

# Explanation
* Validate as an analyzed object by default, force formatting.
* Get the taxon_ids that need to be removed:
[code]

* `mc::filter_taxa` and reassign_obs on the `taxa_*` tables.
* The `otu_*` tables will drop the filtered items

# OTU Pr

[2018-11-19 20:35] grabear opened #39 "Discuss the master threshold filter for metacoder."
# Master Threshold Filter Code
The function is called `otu_proportions_filter` because that's more descriptive of what's happening.  But in the phyloseq vignette and in our previous functions we've called it the _master threshold filter_.
https://github.com/vallenderlab/MicrobiomeR/blob/fac9b427a6b461b57c4f6cfb23f4240774a0d59b/R/metacoder.R#L287-L340

# Explanation
* Validates for any format, forc

[2018-11-19 20:41] grabear opened #40 "Discuss the coefficient of variation filter for metacoder."
# CoV Filter Code
https://github.com/vallenderlab/MicrobiomeR/blob/fac9b427a6b461b57c4f6cfb23f4240774a0d59b/R/metacoder.R#L500-L586

# Explanation
* Get OTUs to be removed
    * transform `otu_abundance` to median sequencing depth
        * This actually relies on `phyloseq::transform_sample_counts` unfortunately
    * `phyloseq::filter_taxa` to get OTUs below CoV
    * `filter_obs` on `otu_*` tab

[2018-11-19 21:17] grabear opened #41 "Discuss the zero samples filter for metacoder."
# Zero Samples Filter Code
https://github.com/vallenderlab/stress-microbiome-analysis/blob/424e237e8bb7ab5a5bbcfcf783159395a9e8d04e/code/_new_metacoder.R#L247-L261

# Explanation
* It removes samples with zero abundance.

# Rework
* Instead of a zero samples filter, it should be a `sample_proportion_filter` like #45 (otu_proportion_filter), but for columns (samples) instead of rows (otus).

[2018-12-04 22:04] grabear opened #44 "Standardize the package."
There are a lot of tasks that can be done to standardize the way our package works.  This is an epic to monitor that progress.

[2018-12-07 23:03] grabear opened #43 "Make a better way to access our "static data"."
Our current way of doing this is using a function and adding the data to the global environment with:
[code]

However a more elegant solution might be to create a "package environment" ([link](https://stackoverflow.com/a/12605694/7351746) so that this data does not easily disrupt the end users experience.

[2018-12-11 23:16] grabear opened #8 "Make a better way to access our "private variables"."
@grabear commented on [Fri Dec 07 2018](https://github.com/vallenderlab/stress-microbiome-analysis/issues/67)

Our current way of doing this is using a function and adding the data to the global environment with:
[code]

However a more elegant solution might be to create a "package environment" ([link](https://stackoverflow.com/a/12605694/7351746) so that this data does not easily disrupt the end

[2018-12-14 20:52] grabear opened #12 "Document the package in a separate file."
Use the [R Packages Book](http://r-pkgs.had.co.nz/man.html#man-packages) by Hadley to determine how to document an overview of the package.

The [MicrobiomeR Workflow and MicrobiomeR Formats documentation](83c66b18c9387497b54edd87f31eccf57ea514da) can be moved to this separate file.

[2018-12-14 21:11] sdhutchins opened #15 "Update pkgdown documentation"
## ToDo

- [x] Add our custom pkgdown theme (https://github.com/vallenderlab/vallender-pkgdown-theme)
- [x] Add vignettes
- [x] Ensure changelog/news.md is added
- [x] Order functions into groups for the reference page i.e. data wrangling, visualization, utils etc.

## More ToDos via @grabear https://github.com/vallenderlab/MicrobiomeR/issues/15#issuecomment-451359295

- [x] Add an **About** tab o

[2018-12-14 21:12] sdhutchins opened #16 "Add ordination functions and plots"
Ordination is frequently successful in separating meaningful groups of observations.

We would like users to be able to plot their ordination using multiple methods.

- [x] Incorporate multiple methods. (#52)
- [x] Allow the metacoder object to be imported. (#52)
- [x] Versatility of the groups or factors used for ordination i.e. phylum or other metadata.

[2018-12-17 21:36] #6 closed, assigned to grabear

[2018-12-17 21:37] #2 closed, assigned to grabear

[2018-12-17 21:38] #3 closed, assigned to sdhutchins

[2018-12-18 23:12] grabear opened #28 "Update data files and rerun analysis."
- [x] The metadata file needs to be changed.
    - [x] So does the RData files associated with it.
- [x] Some of the documentation also needs to change to reflect the metadata file.
- [x] Also, data and extdata are 41 Mb total.  I will reduce the data file to only contain phyloseq objects and the metacoder objects in the phyloseq or raw format.  This should reduce the package size as well as build

[2018-12-20 00:36] grabear opened #31 "Begin version bumps and NEWS.md."
Create a NEWS.md file for documenting changes, and bump the version of the package as we make PRs.

There is an article out there about how to version your packages, so I'll try to find that and link it here.

[2018-12-20 00:36] sdhutchins commented on #31
I can work on this!

[2018-12-20 00:37] sdhutchins commented on #31
I think pkgdown helps with this too.

[2018-12-20 00:40] grabear commented on #31
Noice!  yea please do.  That would be dope.

And try to add some links to articles here as you go!  :sunglasses:

[2018-12-20 15:54] grabear opened #32 "Create a .github folder with ISSUE.md, PR.md, and CONTRIBUTING.md templates."
- [x] Add Code of Conduct
- [x] Add Pull request template
- [x] Add issue template
- [x] Add Contributing docs

[2018-12-20 15:56] grabear commented on #32
https://github.com/ropensci/dotgithubfiles#ropensci-github-files

[2018-12-20 16:06] grabear opened #34 "Scatter Plots."
In future releases, we can try to add scatter plots as a new from of visualization.

[2018-12-20 16:15] sdhutchins opened #36 "Standardize plot elements"
I think it'd be great if we came up with a custom format for the plots as well to improve the cohesiveness of all of the figures.

Below is currently what I've got going...

![image](https://user-images.githubusercontent.com/20976111/49474040-46a54400-f7d9-11e8-9412-629e07dc65b9.png)

Mainly, I'm interested in cohesive aesthetics including:
- location of `title` and `legends` (title on top right o

[2018-12-20 16:35] grabear commented on #43
Duplicate of #8

[2018-12-20 16:35] #43 closed

[2018-12-20 16:41] #41 closed

[2018-12-20 16:51] grabear commented on #38
This issue was transferred and the implementation is a heavily altered version of what's described in this issue.

https://github.com/vallenderlab/MicrobiomeR/blob/fac9b427a6b461b57c4f6cfb23f4240774a0d59b/R/utils.R#L363-L387

[2018-12-20 16:53] #39 closed

[2018-12-20 16:53] #37 closed

[2018-12-20 16:57] grabear commented on #36
I need to work on this for my plots.  Have you done any more with this? @sdhutchins

I've also looked at https://github.com/dgkf/ggpackets as an option recently, but that package is pretty underdeveloped it seems.

[2018-12-20 17:46] grabear opened #45 "Version and release schedule."
## Intro
Because we haven't been rolling out releases as we go, we need to come up with an arbitrary release number for the package for whenever we publish.  I'd like for it to be meaningful.

I think we should do a 1.0.0 whenever we push to master and continue with the MAJOR.MINOR.PATCH semantic versioning style.

As we patch, we've got to add the changes into the NEWS.md file.

## Resources
* Gr

[2018-12-20 17:51] sdhutchins commented on #45
I like it.

[2018-12-20 19:32] sdhutchins commented on #36
@grabear I played around with your metacoder heat trees and it's a little harder to get them into this format which may not even be as helpful because of the metacoder packages base plot. There are ways to remove the title and re-add one, but it was just not looking as good imo.

I think your correlation plots will be easier to manipulate.

[2018-12-21 19:23] sdhutchins opened #47 "Create a logo"
It would be great to have an identifiable logo for the package.

[2018-12-21 21:48] grabear commented on #47
I have no idea what to do here right now...

[2018-12-21 21:50] sdhutchins commented on #47
Haha

[2018-12-21 21:55] sdhutchins commented on #47
Maybe this package can help

[2018-12-21 23:35] sdhutchins opened #49 "Add tests using testthat"
## References
`testthat` [docs](https://testthat.r-lib.org/reference/index.html)

Hadley's [breakdown](http://r-pkgs.had.co.nz/tests.html)

## ToDo

- [x] Add a test for ordination
- [x] Add a test for heat tree creation
- [x] Add a test for correlation plot creation
- [x] Add tests for formatting functions
- [x] Add tests for palettes
- [x] Add tests for utils (#61)
- [x] Add tests for phyloseq f

[2018-12-31 21:27] sdhutchins opened #53 "Improve consistency across package"
- [x] Add save function for ordination plot. (841b871)
- [x] Added ability get all ordination combinations. (841b871)
- [x] Add save function for top coefficients barplot. (92de81d599e37c68f79b88159a6f20fa42780073)
- [x] Add save function for alpha diversity plot. (524ea4d)
- [x] Ensure data wrangling is the same.
- [x] Add ability to generate plots for each taxonomy level for stacked barplot simi

[2019-01-03 21:37] sdhutchins commented on #15
I think the test branch might be too messy to merge - I did a lot of weird things over there if I recall correctly (non pkgdown things)...

If you want I can do a quick pkgdown branch with just some of the base pkgdown things I implemented in the test branch.

[2019-01-03 21:42] grabear commented on #15
That would be legit!

[2019-01-03 22:24] sdhutchins commented on #15
Also, check out this package's pkgdown. Nice example imo.

https://valr.hesselberthlab.org/index.html

[2019-01-04 00:31] grabear commented on #15
Do you know if there is a quicker way to build the reference based on the roxygen tag `@family`?? @sdhutchins

That's what I'm going to do anyway, but I can't find anything in the docs (so far).

[2019-01-04 00:40] sdhutchins commented on #15
Yes, check out this link: https://pkgdown.r-lib.org/reference/build_reference.html

[2019-01-04 00:41] sdhutchins commented on #15
![image](https://user-images.githubusercontent.com/20976111/50668813-2ce94f00-0f87-11e9-8de7-7f7a94498011.png)

[2019-01-04 00:43] sdhutchins commented on #15
[code]

I don't know how helpful that will be....

[2019-01-04 00:57] grabear commented on #15
Yea, I was hoping I could port all of the `@family Data Visualization` functions and make that a reference section, but it seems that `pkgdown` doesn't do that out of the box..

I filed an issue, so we should hopefully get some insight.  https://github.com/r-lib/pkgdown/issues/954

[2019-01-04 00:59] sdhutchins commented on #15
Reference https://github.com/r-lib/pkgdown/issues/248 as well. Someone asked there.

[2019-01-04 01:00] sdhutchins commented on #15
They made it where you can base it on the `@concept` tag.

[2019-01-04 01:08] grabear commented on #15
So do we need to do that with roxygen? @sdhutchins

[2019-01-04 01:12] sdhutchins commented on #15
Yeah, but it may be that it's easy enough to implement selecting by `@family` instead of us having to go back and add the `@concept` tag to all of our functions.

About the `@concept` tag:

[2019-01-04 01:31] grabear commented on #15
Hrmmm...  I'm just going to use RStudio to get all of the functions with the family tag:

 **Edit** > **Find in Files** "@family"

It actually works nicely and it points out the inconsistencies in family names:

![image](https://user-images.githubusercontent.com/20953530/50669970-2c07eb80-0f8e-11e9-8dc0-34ce308485c9.png)

[2019-01-04 01:42] sdhutchins commented on #15
Oh dear! lol Does work though!

[2019-01-04 01:44] sdhutchins commented on #15
I bet there is a regex that lets you do this and you could build a function for it but....

[2019-01-04 05:57] grabear commented on #15
More Todos:
------
- [ ] Add an **About** tab on the navbar
  - [ ] Add a [leaflet widget](https://pkgdown.r-lib.org/articles/test/widget.html)
- [ ] Add vignette's for shaurita's functions
  - [ ] Stacked Bar
  - [ ] Ordination
- [ ] Hunt down pkgdown warnings:
  - [ ]  ![image](https://user-images.githubusercontent.com/20953530/50675251-78652280-0fb2-11e9-909b-0aea6acbcf50.png)
  - [ ] ![image](

[2019-01-04 05:58] grabear commented on #15
Should I commit all of the `build_site()` files?  @sdhutchins

[2019-01-04 08:55] sdhutchins commented on #15
Yeah, go ahead and do so.

On the warnings, typically the `topic must be a valid R expression` means the function does not exist or there is no .rd file for it.

I don't know if pkgdown supports the pretty print tag. The seealso is self-explanatory.

[2019-01-07 17:39] grabear commented on #31
I think we've started doing this regularly now for each PR.

[2019-01-07 17:39] #31 closed

[2019-01-07 19:21] #38 closed

[2019-01-07 19:23] #42 closed

[2019-01-07 22:17] grabear opened #58 "Update analysis and plot functions to account for more than 2 treatments."

[2019-01-11 20:05] #32 closed

[2019-01-11 20:12] sdhutchins commented on #12
Addressed in #56 by @grabear

[2019-01-11 20:12] #12 closed

[2019-01-14 19:40] grabear commented on #58
# Heat Trees:
- [X] `MicrobiomeR::get_heat_tree_plots()` now works with data that contains more than one treatment group.  (See the _analysis vignette_ in the next PR).

# Correlation Plots:
- [ ] Get the `primary_data` and `secondary_data` variables using metacoder::heat_tree_matrix()` as a model.
https://github.com/grunwaldlab/metacoder/blob/f4d4e41f95de85e4c0f2acc913cc64f6cc6a089d/R/heat_tree_m

[2019-01-14 19:44] grabear commented on #58
Permalinks aren't working...

https://github.com/grunwaldlab/metacoder/blob/f4d4e41f95de85e4c0f2acc913cc64f6cc6a089d/R/heat_tree_matrix.R#L76-L108

[2019-01-14 19:48] sdhutchins commented on #58
Bizzare.... @github

[2019-01-14 20:06] sdhutchins opened #60 "Add code coverage"
Use the [covr](https://github.com/r-lib/covr) package to add code coverage badge/stats to package.

- [x] Setup code coverage with usethis `usethis::use_coverage()`
- [x] Add code coverage badge
- [x] Add code coverage commands to `.travis.yml`

[code]

[2019-01-14 21:07] sdhutchins commented on #60
Our current code coverage is below...

![image](https://user-images.githubusercontent.com/20976111/51141212-2a4fea80-180e-11e9-9f71-2b6520e5f587.png)

[2019-01-17 17:29] grabear opened #62 "Update function names."
- [x] `get_*()` is cringe worthy.
- [x] `create_*()` is _meh_, but more acceptable.
- [ ] Review other naming conventions.

[2019-01-17 17:48] sdhutchins commented on #62
I think it comes down to a matter of how hard we're going to try on this lol

For sure, I think finding better or more descriptive verbs to help name functions is good. Ironically, I read about that this week (when I find the link I'll post it), but it was suggesting to keep function names shorter while naming them with verbs.

If you take a quick glance at the NAMESPACE files for metacoder and ph

[2019-01-17 17:52] #40 closed

[2019-01-17 17:58] #45 closed

[2019-01-17 18:05] grabear opened #63 "Prepare for first release and push to master."
We are getting super close!  So I wanted to start discussing our first release.

# Epic

This is an `Epic` issue.  Any other issues attached to this one are deemed necessary for the release.  Anything optional or something we _might_ want to fit in should not go here (even if we have the time to develop it).

[2019-01-17 18:15] sdhutchins commented on #63
I think you've broken it down well. I'd add that what is in the `In Progress` column is enough for the first release outside of updating function names.

Logo/Citations/Regenerating data can all be done after the 1st release.

[2019-01-17 19:18] grabear commented on #28
Make sure to update your function documentation.

[2019-01-18 20:02] grabear commented on #28
Add package data to the `object_handler` function as a valid object name inside the .RDA files.

[2019-01-18 21:42] sdhutchins commented on #28
:eyes:

[2019-02-06 20:27] grabear opened #69 "Update analysis vignette heat trees."
The analysis vignette has an error:

[code]
"wilcox_p_value > 0.05" should be "wilcox_p_value < 0.05"

[2019-02-06 21:23] sdhutchins opened #70 "Add a vignette using phyloseq's data"
- [ ] Add a vignette to show how `MicrobiomeR` would use phyloseq's `GlobalPatterns` dataset.

[2019-02-06 22:54] sdhutchins commented on #49
Code coverage was at 74% in PR #67. This issue can be closed now.

[2019-02-06 22:54] #49 closed

[2019-02-09 21:34] sdhutchins commented on #58
Once #72 is done, this should be ready to be closed.

[2019-02-09 23:58] sdhutchins commented on #36
Per discussions with @xiaoumc, removing titles from plots is desired so we can just make that a `default` parameter (and I think it is on most of the plots).

Otherwise, colors in the ordination, metacoder, and alpha diversity plots are in sync with each other.

Legends and legend titles need tweaking for mainly alpha diversity.

[2019-02-11 20:26] #58 closed

[2019-02-11 20:27] #53 closed

[2019-02-11 20:27] #16 closed

[2019-02-11 21:42] grabear commented on #63
Prepare the package for CRAN:

- https://cran.r-project.org/web/packages/policies.html#Submission
- https://jef.works/blog/2018/06/18/get-your-package-on-cran-in-10-steps/

[2019-02-11 23:05] sdhutchins commented on #63
Awesomeness. I am working on the lab github site too.

[2019-02-11 23:09] grabear commented on #63
Excellent!  I'm going to build a personal github site for myself, so I can figure out how jekyll works.  And then maybe I can help you with some of that.

At the very least I'll link my site from the lab's site.

[2019-02-12 00:18] sdhutchins commented on #4
This has resolved itself.

[2019-02-12 00:18] #4 closed

[2019-02-12 00:19] sdhutchins commented on #7
We need to add `oldrel` back to travis.yml

[2019-02-12 00:22] sdhutchins commented on #62
Ready to be closed?

[2019-02-12 00:53] #62 closed

[2019-02-12 01:14] sdhutchins commented on #63
YASSSS

[2019-02-12 01:17] sdhutchins commented on #60
The travis build is not generate code coverage.

![image](https://user-images.githubusercontent.com/20976111/52604702-9cc5e180-2e31-11e9-84dc-1142cf25b513.png)

[2019-02-14 00:35] grabear opened #77 "Rework some of the data in the taxmap object."
Per my discussion today with @xiaoumc, I realize that we need to really be able to see the difference in relative and absolute changes per taxa.  One way we can do this is to look at the fold change.

|                -               | Total Abundance | Firmicutes Abundance | Relative Firmicutes Abundance |
|:------------------------------:|:---------------:|:--------------------:|:---------------

[2019-02-14 01:10] sdhutchins commented on #34
This is typically what I've seen to represent bimodality (figure B).

![image](https://user-images.githubusercontent.com/20976111/52755100-59e74380-2fc2-11e9-88c7-b36a821fdbf4.png)

Also below

![image](https://user-images.githubusercontent.com/20976111/52755146-8602c480-2fc2-11e9-915d-55c2f0ed806a.png)

The `microbiome` package offers an example of performing bimodality analysis at https://microb

[2019-02-14 04:57] grabear commented on #34
I concur, and the microbiome package was one of the first things I came across when we first discussed bimodality.

[2019-02-14 05:03] grabear commented on #69
Resolved by #78

[2019-02-14 05:03] #69 closed

[2019-02-14 05:48] #35 closed

[2019-02-19 22:34] grabear opened #80 "CNAME file."
#76 #74

What's the deal with this?  Can it be moved to another folder or removed altogether?  It creates a note when using `devtools::check()`

[2019-02-19 22:38] sdhutchins commented on #80
It needs to be in that folder. Is it causing a build issue?

[2019-02-19 22:39] grabear commented on #80
Not an issue.  Just wondering, if it can be dealt with differently.  I'll add it to the .Rbuildignore file so that it doesn't create a `NOTE`.

[2019-02-19 22:40] sdhutchins commented on #80
Perfect.

[2019-02-19 22:41] #80 closed

[2019-02-19 23:45] #63 closed

[2019-02-19 23:59] grabear opened #81 "CRAN submission."
We can use this issue to discuss anything related to CRAN submission including any feedback that we might get.

#79 is also going to contain some commits so that we can submit to CRAN.

[2019-02-20 00:01] grabear commented on #81
@sdhutchins
I've done a lot of work this afternoon to get the regular build check to work (e.g. `devtools::check()`)

After I get a few minor things fixed I'm going to run `R CMD check --as-cran`, and then try running our package through [Rhub or Winbuilder ](https://cran.r-project.org/web/packages/submission_checklist.html).

[2019-02-20 00:04] grabear commented on #81
@sdhutchins Any hot tips on how to prevent this:
[code]
or this:
[code]

[2019-02-20 00:12] sdhutchins commented on #81
One way with scales is to `@import scales` instead of `@importFrom scales alpha`

[2019-02-20 00:13] sdhutchins commented on #81
For `covr`, I'm not sure. I don't think covr is on cran.

[2019-02-20 00:16] grabear commented on #81
This is an increadibly annoying Note that occurs when using NSE:

# > checking R code for possible problems ... NOTE
[code]

Solutions include:

1. https://dplyr.tidyverse.org/articles/programming.html#different-data-sets

2. https://github.com/STAT545-UBC/Discussion/issues/451#issuecomment-264598618

if(getRversion() >= "2.15.1")  utils::globalVariables(c("."))

[2019-02-20 00:17] grabear commented on #81
Should it be in the `Remotes:`  field in the `DESCRIPTION` file?

[2019-02-20 01:33] sdhutchins commented on #81
Maybe?
If it's only in Suggests, I'm not sure.

[2019-02-20 01:39] grabear commented on #81
I tried, and I don't think it worked.

[2019-02-20 01:40] grabear commented on #81
I'm going to try putting it in the `Imports` field.

[2019-02-26 23:22] grabear opened #84 "Dependency Issues."
Unfortunately, the dplyr problems associated with #79 and #82 are causing more local problems.  In an attempt to resolve these issues I've started to use packrat.  I'm not sure if this will work or change my current problem, but I wanted to try.

Current error during build (`devtools::check()`):
[code]

[2019-02-26 23:23] grabear commented on #84
In order to get Bioconductor packages properly installed remember to do:
`options(repos = c(getOption("repos"), BiocInstaller::biocinstallRepos()))`

[2019-02-26 23:33] grabear commented on #84
@sdhutchins started at 4:59 PM, and then I was rooting around during installation so it errored (which deletes everything :frowning_face:)......
![image](https://user-images.githubusercontent.com/20953530/53454395-9cf6dd00-39ec-11e9-810a-e658f3712e7d.png)

[2019-02-26 23:33] sdhutchins commented on #84
Aren't they trying to get people to use BiocManager now?

[2019-02-26 23:35] grabear commented on #84
Yea, but that call just puts (`BiocInstaller::biocinstallRepos()`) simply prints a vector of urls that are used for downloading bioconductor packages.

[2019-02-26 23:37] sdhutchins commented on #84
Is that all they were doing with that package? lol smh.

[2019-03-04 22:02] sdhutchins commented on #84
Fixed in 93fcce6800b31c8ebdb335f8a3b504563825e08d. We still should probably add `dplyr (>=0.8.0)` to the DESCRIPTION file.

[2019-03-05 17:40] grabear opened #87 "[REVIEW] JOSS review general discussion."
Please briefly describe your problem and what output you expect.

Please include a minimal reproducible example (AKA a reprex - View [documentation](http://reprex.tidyverse.org/) about reprexes).

---

## Brief description of the problem

[code]

## Session Information

[code]

[2019-03-05 17:47] grabear commented on #87
@lpantano @CosteaPaul @sdhutchins I created this Issue for general discussion about the JOSS review.  If you have any questions about the paper https://github.com/openjournals/joss-reviews/issues/1299

[2019-03-05 23:28] sdhutchins commented on #84
Description file updated in #88.

[2019-03-05 23:28] #84 closed

[2019-03-05 23:29] sdhutchins commented on #28
This is ready to be closed imo. @grabear

[2019-03-05 23:30] sdhutchins commented on #60
Fixed in #78

[2019-03-05 23:31] #60 closed

[2019-03-05 23:32] sdhutchins commented on #44
Almost done here.

[2019-03-05 23:37] #28 closed

[2019-03-13 19:09] grabear commented on #87
@CosteaPaul @lpantano Just checking in on this review.  How are things going?

[2019-03-13 21:43] lpantano commented on #87
Hi @grabear

I was giving some time to @CosteaPaul, I will ping him needed later.

Thanks!

[2019-03-17 17:11] CosteaPaul commented on #87
The usage of "ordination_plot" describes the argument "distance" as:

distance: Choose a distance method from 'bray', 'unifrac' or 'wunifrac', Default: 'wunifrac'

However, because it's actually just forwarding a call to phyloseq::ordinate (which i guess is then just calling vegan), it is able to accept: "manhattan", "euclidean", "canberra", "bray", "kulczynski", "jaccard", "gower", "altGower", "m

[2019-03-17 17:20] sdhutchins commented on #87
@CosteaPaul Thanks! We can update this in the documentation and better explain. I think initially we weren't using phyloseq (maybe metacoder) and just had a mental lapse in the docs.

[2019-03-27 19:07] sdhutchins commented on #47
Logo Example 1:

![microbiomer](https://user-images.githubusercontent.com/20976111/55105051-9fa32b80-5099-11e9-8288-18f7c308ff65.png)

[2019-03-27 19:17] grabear commented on #47
@sdhutchins That looks awesome!

![](https://media1.giphy.com/media/YFFPjL7iCNNBppy49S/200w.gif?cid=5a38a5a25c9bab124f7542565575c0a3)

[2019-03-27 19:33] sdhutchins commented on #47
# Logo Example 2:

![microbiomer](https://user-images.githubusercontent.com/20976111/55106545-3f15ed80-509d-11e9-8870-aa8e1d639a44.png)

[2019-03-27 19:37] sdhutchins commented on #47
# Logo Example 3:

![microbiomer](https://user-images.githubusercontent.com/20976111/55106822-d9763100-509d-11e9-9370-2380f29d98f9.png)

[2019-03-27 23:56] grabear commented on #47
@sdhutchins My favorite is example 2!

[2019-03-28 16:28] sdhutchins commented on #47
# Logo Example 4:

![microbiomer](https://user-images.githubusercontent.com/20976111/55175099-aa6ac880-514c-11e9-82bb-a881d0504b94.png)

[2019-03-28 16:39] sdhutchins commented on #47
# Logo Example 5:

![microbiomer](https://user-images.githubusercontent.com/20976111/55175920-34676100-514e-11e9-8cc6-3eedd0d06533.png)

[2019-03-28 16:44] grabear commented on #47
Log#5 with light green text?
![image](https://user-images.githubusercontent.com/20953530/55176282-db4bfd00-514e-11e9-979c-2dde3c17838f.png)

[2019-03-28 16:44] grabear commented on #47
Reverse that statement....

[2019-03-28 16:46] grabear commented on #47
![image](https://user-images.githubusercontent.com/20953530/55176389-0cc4c880-514f-11e9-920c-f4fafb52b1bf.png)

[2019-03-28 16:48] sdhutchins commented on #47
The colors are clashing a bit for me.

here's my code bythe way.

[code]
![bacterie_ff](https://user-images.githubusercontent.com/20976111/55176548-51506400-514f-11e9-9838-9795eea52be1.png)

[2019-03-28 16:49] sdhutchins commented on #47
I like 1, 2, and 4 the most.

[2019-03-28 16:49] grabear commented on #47
Nice!  I'll try it out.  Yea I agree.  I like the idea of having different colors between border and text.

From your posts I'm still a fanboy of 2.

[2019-03-28 16:57] sdhutchins commented on #47
I was trying to use colors that were in our vallender lab logo...

![image](https://user-images.githubusercontent.com/20976111/55177174-99bc5180-5150-11e9-9d09-7e6a15fcc0ad.png)

[2019-03-28 17:05] sdhutchins commented on #47
W

Well, let's go with 2!

[2019-03-28 17:06] grabear commented on #47
FWIW:
# No. 1
![microbiomer](https://user-images.githubusercontent.com/20953530/55177662-bb6a0880-5151-11e9-8bde-520152a592d9.png)

# No. 2
![microbiomer](https://user-images.githubusercontent.com/20953530/55177734-e5bbc600-5151-11e9-9366-e109b3a0a82d.png)

[2019-03-28 17:26] sdhutchins commented on #47
![microbiomer](https://user-images.githubusercontent.com/20976111/55179040-a93d9980-5154-11e9-8f85-5e70c4746433.png)

[2019-03-28 17:29] grabear commented on #47
I like this one better than 2!

[2019-03-28 17:33] sdhutchins commented on #47
Awesome, whenever the paper finishes being accepted, I can add the logo, doi, and citation information to the readme.

[2019-03-31 18:29] sdhutchins commented on #87
[![DOI](http://joss.theoj.org/papers/10.21105/joss.01299/status.svg)](https://doi.org/10.21105/joss.01299)

[2019-04-01 19:01] #47 closed

[2019-04-01 20:25] sdhutchins commented on #87
Can be closed now.

[2019-04-01 20:25] #87 closed

[2019-04-01 20:32] sdhutchins commented on #15
FYI @grabear

This week, I'm going to try to add more in-depth documentation to the `alpha_diversity` and `ordination` functions. I'm also going to integrate the search box for our docs.

[2019-08-03 07:25] tboonf opened #101 "Staged install error for R v3.6.1"
Hello,
I have been trying to install the MicrobiomeR package in R 3.6.1 following the suggested method on https://microbiomer.vallenderlab.science/ but I have been receiving error messages and are not being able to install despite all dependencies have been fullfiled.

I have also tried the following but it did not work:
[code]
Please help.
---

[2019-08-03 07:28] sdhutchins commented on #101
Hi, @tboonf!

Could you post the error message from your R console here? We'll try to debug this as soon as we can.

[2019-08-03 07:43] tboonf commented on #101
I have received these error messages have not been successful to install the package. I have also tried to use the latest version of remote for the installation:

ERROR: hard-coded installation path: please report to the package maintainer and use ‘--no-staged-install’
* removing ‘/home/nova/R/x86_64-pc-linux-gnu-library/3.6/MicrobiomeR’
Error: Failed to install 'MicrobiomeR' from GitHub:
  (conve

[2019-08-03 22:03] sdhutchins commented on #101
Thanks for posting the full message, @tboonf.

I'm currently working on a fix.

[2019-08-05 18:09] grabear commented on #101
Hi @tboonf!  @sdhutchins made a fix via #102 and #103.  Please try installing it again.

[2019-08-13 22:00] sdhutchins commented on #101
hey @tboonf just wanted to check if you were able to get this working?

[2019-08-14 08:58] tboonf commented on #101
Thanks for the great help. MicrobiomeR can now be installed on R v3.6.1.

[2019-08-14 12:35] #101 closed

[2019-12-12 19:44] grabear opened #104 "Webpage isn't working."
I noticed in August that the webpage changed, but the new one isn't working (neither is the old one).  Is that domain name still available or should we just use a github domain?

[2019-12-12 23:00] sdhutchins commented on #104
It should be working now. Also, it seems to be blocked at UMMC?

[2020-06-14 08:34] avportal opened #105 "Installation failure due to modes package"
Hi there,

I am trying to install the package but I get the following error message:

[code]
It seems that the package "modes" has been removed from the CRAN repository.

# Insert Session info here
[code]

[2020-06-15 20:17] sdhutchins commented on #104
This was resolved.

[2020-06-15 20:17] #104 closed

[2020-07-07 23:12] grabear commented on #105
Hi @avportal.  I'm very sorry it took this long to get back to you fully.  It seems that you are correct about the modes package.  We only use one function from there (shown below).  It shouldn't be to hard to port it over, and remove the modes as a dependency completely.  I will work on this tomorrow and try to get the changes update for you.

[code]

[2020-07-07 23:13] grabear commented on #105
https://github.com/sathish-deevi/modes-Package/blob/master/src/R/Nonparametric_functions.R

[2020-07-07 23:28] sdhutchins commented on #105
@grabear I created this [little branch](https://github.com/vallenderlab/MicrobiomeR/tree/issue-105) for that. Feel free to delete it. 😃

[2020-07-08 05:55] avportal commented on #105
Thank you!

Cheers,

Angel

___________________
Angel Valverde Portal
IRNASA-CSIC
C/ Cordel de Merinas 40-52
37008 Salamanca
Spain
Tel.: +34 923 219 606

[2020-08-07 21:39] sdhutchins opened #106 "Error: Failed to install 'taxa' from Github"
## Brief description of the problem

The package is not installing due to taxa.
[code]

## Session Information

[code]

[2020-08-08 23:35] sdhutchins commented on #106
There just seems to be major backwards compatibility with R.

The install worked with the latest version of R. Perhaps we need to make that mandatory in the Description file.

[code]

[2020-08-09 03:21] sdhutchins commented on #105
@avportal I would suggest installing [this release](https://github.com/vallenderlab/MicrobiomeR/releases/tag/v0.7.0) with the latest version of R (4.0).

[MicrobiomeR_0.7.0.tar.gz](https://github.com/vallenderlab/MicrobiomeR/files/5046711/MicrobiomeR_0.7.0.tar.gz)

[code]

[2020-08-10 05:54] avportal commented on #105
Many thanks.

Regards,

Angel

___________________
Angel Valverde Portal
IRNASA-CSIC
C/ Cordel de Merinas 40-52
37008 Salamanca
Spain

Tel.: +34 923 219 606 (Ext. 231)
Fax: +34 923 219 609
angel.valverde@csic.es

[2020-10-02 18:00] lixiaopi1985 commented on #105
work around: download modes package from CRAN: https://cran.r-project.org/web/packages/modes/index.html, and install it locally ```install_local()```

[2020-10-05 15:32] grabear commented on #105
@lixiaopi1985 Thank you for this workaround.  @sdhutchins And thank you for pushing a working release.

@avportal The issue should be fixed by installing MicrobiomeR using @sdhutchins solution.  If you have any more issues with this, then please let us know.

The primary reason for the delay with this bug fix was a failure to get our Travis CI and GitHub actions working properly.  However, this is

[2020-10-05 15:34] grabear opened #107 "Travis CI and GitHub Actions need to be fixed."
Travis CI and GitHub Actions need to be fixed.  While working on #105, I attempted to fix this, but instead, I just delayed the solution for the issue at hand.  This also effects #106.

[2020-10-05 17:14] avportal commented on #105
It did work indeed. Thanks!

Cheers,

Angel

___________________
Angel Valverde Portal
IRNASA-CSIC
C/ Cordel de Merinas 40-52
37008 Salamanca
Spain

Tel.: +34 923 219 606 (Ext. 231)
Fax: +34 923 219 609
angel.valverde@csic.es

[2020-10-20 14:29] grabearummc opened #108 "Silva 99 (v132) parsing issue."
When running Silva 99 (v132) with the [Nephele 16S Qiime pipeline](https://nephele.niaid.nih.gov/details_qiime/), taxonomy may or may not contain spaces (instead of NAs??).  Regardless, the spaces are parsed and a Rank column is added.  This leads to redundant columns in the dataset (Rank1-Rank7), which is introduced after the first line (https://github.com/vallenderlab/MicrobiomeR/blob/dfc8f67d88

[2020-10-21 00:02] grabear opened #109 "Fix barplot axis window/panel margin and labels."
From https://github.com/vallenderlab/MicrobiomeR/blob/dfc8f67d88f7a9dfaa15753a369df73ccc948396/R/barplot.R#L99-L106

The `axis.text.x = ggplot2::element_blank(),` part can be removed and `expand = c(0,0)` can be added to `scale_y_continuous` for formatting the axis.

[2020-11-13 04:49] tulsijoishy opened #110 "BF ratio"
Hi,
MicrobiomeR is an excellent package. I Have been using it. But I am now using the SILVA 138 database where Bacteroidetes is BACTEROIDOTA. So, getting an issue in computing BF ratio using phyloseq object for my result. Please suggest how to know the BF ratio?

Regards
Tulsi

[code]

## Session Information

[code]

[2021-12-08 17:38] sielerjm opened #111 "Installation fails: "Error: object ‘filter_obs’ is not exported by 'namespace:taxa'""
---

Hi all,

I'm attempting to install MicrobiomeR on R Studio Server Pro. It's a cloud based GUI of Rstudio. I'm getting stuck on this error, that I haven't been able to troubleshoot successfully. I suspect it's related to the `taxa` package, but I'm not sure how to proceed. I'd appreciate any help you all may have.

I've tried installing from source locally as well as using `devtools::install_g

[2021-12-11 20:07] sdhutchins commented on #111
Hey, @sielerjm. Thanks for pointing this out.

I'll try to get to this next week.

[2021-12-11 21:17] sielerjm commented on #111
Thanks, no rush! I understand these are busy times for folks.

[2022-01-06 14:47] grabear commented on #111
It seems that the taxa package is undergoing a rework, so there are many of the taxmap related functions that aren't available in the current version of their package (0.4.0).  I didn't have time to test, but I made a pre-release https://github.com/vallenderlab/MicrobiomeR/releases that depends on any version of taxa under 0.3.4.

Please try this and let us know how it goes @sielerjm

[2022-01-06 15:15] sielerjm commented on #111
Hi @grabear,

I'll be conducting some new analyses in the coming weeks and will report back the . Thanks for your help!

[2022-01-15 07:23] sdhutchins commented on #111
Thanks for taking a look @grabear !